
<!DOCTYPE html>
<html lang="en">
<!--! head -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3;URL='http://localhost:25575/'">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />
    <title>Succes</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<!--! body -->
<body style="display:flex; align-items:center; justify-content:center;">
<h1>Success! Check your e-mail!</h1>
</body>
